.one-windowsill-page
  .bx-wrapper
    .bx-viewport
      border: 7px solid #eceff1
    .bx-controls
      .bx-pager
        .bx-pager-item
          a
            width: 12px
            height: 12px
            background: #93989c
            -moz-border-radius: 0
            -webkit-border-radius: 0
            border-radius: 0
            margin: 0 20px
            &.active
              background: #42a5f5

  ul#windowsill-images-carousel
    margin: 0
    .image
      height: 0
      padding-bottom: 100%

  .title
    color: #1c282e
    font:
      size: rem-calc(24)
      weight: 500
      family: 'Roboto', sans-serif
    line-height: 28px

  .brand-title
    color: #939598
    font:
      size: rem-calc(12)
      weight: 400
      family: 'Roboto', sans-serif
    line-height: 21px
  p
    color: #263238
    font:
      size: rem-calc(14)
      weight: 400
    line-height: 20px
  .windowsill-calculator-wrap
    margin-bottom: 60px
    b
      color: #263238
      font:
        size: rem-calc(14)
        weight: 500
      line-height: 20px
    p
      color: #607d8b
    i
      color: #939598
      font:
        size: rem-calc(12)
        weight: 300
        style: italic
      line-height: 18px
      margin-top: 60px
      display: block

    .windowsill-price-wrap
      width: 74px
      height: 64px
      position: relative
      z-index: 1
      float: left
      .windowsill-price
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        .wp-price, .wp-currency
          color: #fff
          font:
            family: 'Roboto', sans-serif
        .wp-price
          font:
            size: rem-calc(24)
            weight: 500
          line-height: 24px
          text-align: center
          margin-top: 20px
        .wp-currency
          font:
            size: rem-calc(11)
            weight: 400
          line-height: 11px
          text-align: center

    .material-component
      background: #1e88e5

      margin-top: 12px
      margin-left: -33px
      float: left

      button
        background: transparent
        color: #fff
        font:
          size: rem-calc(14)
          weight: 500
        line-height: 14px
        text-transform: uppercase

        padding: 13px 27px 13px 50px
        margin: 0
    form
      margin-bottom: 50px
      .input
        &.count-windowsill
          width: 52px
          float: left
          margin-right: 30px
          margin-top: 10px
          input
            margin-bottom: 0
            color: #607d8b
            font:
              size: rem-calc(16)
              weight: 500
            line-height: 21px
            border: none
            border-bottom: 1px solid #d9d9d9
            outline: none
            box-shadow: none
            background: transparent
          label
            color: #939598
            font:
              size: rem-calc(12)
              weight: 300
            line-height: 18px

    #windowsill-prices-option
      float: left
      width: 54px
    #windowsill-long
      float: right
      width: 64px

  .attention-message
    background: #42a5f5
    padding: 10px
    padding-bottom: 20px
    .icon
      width: 15%
      float: left
      svg
        width: 50%
        display: block
        margin: 0 auto
        path
          fill: #fff
    .description
      float: left
      width: 85%
    .title, .body
      color: #fff
      font:
        family: 'Roboto', sans-serif
    .title
      font:
        size: rem-calc(14)
        weight: 500
      text-transform: uppercase
    .body
      font:
        size: rem-calc(12)
        weight: 300
        style: italic
      line-height: 18px

.windowsill-catalog-list-page
  .windowsill-catalog-list-header
    margin-bottom: 27px
    .image
      height: 305px
    .wcl-body
      background: #eceff1
      padding: 30px 0
      .title
        color: #263238
        font:
          size: rem-calc(24)
          weight: 500
        line-height: 30px
        text-transform: uppercase
        margin-bottom: 15px
      p
        color: #263238
        font:
          size: rem-calc(14)
          weight: 400
        line-height: 21px

  .windowsill-catalog-list-body
    .wclb-header
      height: 40px
      background: #eceff1
      .title
        color: #1e88e5
        font:
          size: rem-calc(20)
          weight: 500

        text-transform: uppercase
        line-height: 40px
        svg
          height: 100%
          width: 18px
          margin-right: 5px
          position: relative
          top: 2px
          path
            fill: #1e88e5

.one-windowsill
  margin-top: 26px
  .ow-status
    width: 69px
    height: 60px
    position: absolute
    top: -12px
    right: -2px
    &:after
      content: attr(data-status)
      +my_center_align()
        position: absolute
      color: #eceff1
      font:
        size: rem-calc(16)
        weight: 500
        family: 'Roboto', sans-serif

  .ow-image
    border: 7px solid #eceff1
  .image
    height: 0
    padding-bottom: 100%
  .ow-body
    background: #eceff1
    padding-top: 8px
    padding-bottom: 20px
    min-height: 84px
    .title
      color: #1c282e
      font:
        size: rem-calc(16)
        weight: 500
      line-height: 19px
      text-transform: uppercase

    .brand-title
      color: #939598
      font:
        size: rem-calc(12)
        weight: 400