// Place all the styles related to the main controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins"


span, a, p, strong, .title, .brand-title, i, b, button, label, input, textarea, h1, h2, h3, h4, h5, h6, q, .title-h2, .title-h3
  font-family: 'Roboto', sans-serif
a
  &:focus
    outline: none !important

body
  background: #eceff1
  &.opened-mobile-menu
    @media screen and ( max-width: 950px)
      overflow: hidden
      .mobile-menu-panel, .mobile-menu-background-cover
        display: block
      .mobile-main-menu
        -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.35)
        -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.35)
        box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.35)



@-webkit-keyframes uil-default-anim
  0%
    opacity: 1

  100%
    opacity: 0


@keyframes uil-default-anim
  0%
    opacity: 1

  100%
    opacity: 0


.uil-default-css
  position: relative
  background: none
  width: 200px
  height: 200px

  transform: scale(0.22)
  > div
    border-radius: 0px
    width: 10px
    height: 40px
    background: black
    position: absolute
    top: 80px
    left: 95px
    &:nth-of-type(1)
      -webkit-transform: rotate(0deg) translate(0),-60px
      transform: rotate(0deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: -0.5s
      animation-delay: -0.5s

    &:nth-of-type(2)
      -webkit-transform: rotate(36deg) translate(0),-60px
      transform: rotate(36deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: -0.4s
      animation-delay: -0.4s

    &:nth-of-type(3)
      -webkit-transform: rotate(72deg) translate(0),-60px
      transform: rotate(72deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: -0.3s
      animation-delay: -0.3s

    &:nth-of-type(4)
      -webkit-transform: rotate(108deg) translate(0),-60px
      transform: rotate(108deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: -0.2s
      animation-delay: -0.2s

    &:nth-of-type(5)
      -webkit-transform: rotate(144deg) translate(0),-60px
      transform: rotate(144deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: -0.09999999999999998s
      animation-delay: -0.09999999999999998s

    &:nth-of-type(6)
      -webkit-transform: rotate(180deg) translate(0),-60px
      transform: rotate(180deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: 0s
      animation-delay: 0s

    &:nth-of-type(7)
      -webkit-transform: rotate(216deg) translate(0),-60px
      transform: rotate(216deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: 0.09999999999999998s
      animation-delay: 0.09999999999999998s

    &:nth-of-type(8)
      -webkit-transform: rotate(252deg) translate(0),-60px
      transform: rotate(252deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: 0.19999999999999996s
      animation-delay: 0.19999999999999996s

    &:nth-of-type(9)
      -webkit-transform: rotate(288deg) translate(0),-60px
      transform: rotate(288deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: 0.30000000000000004s
      animation-delay: 0.30000000000000004s

    &:nth-of-type(10)
      -webkit-transform: rotate(324deg) translate(0),-60px
      transform: rotate(324deg) translate(0,-60px)

      -webkit-animation: uil-default-anim 1s linear infinite
      animation: uil-default-anim 1s linear infinite
      -webkit-animation-delay: 0.4s
      animation-delay: 0.4s

#CallOrder
  form
    button
      .uil-default-css
        display: none
    &.sending
      .button-wrap
        &:after
          content: ''
          display: block
          position: absolute
          left: 0
          top: 0
          right: 0
          bottom: 0
      button
        .uil-default-css
          width: 10px
          height: 10px
          display: inline-block
          top: -10px
          transform: scale(0.1)
          > div
            background: #1e88e5

#ContactForm
  form
    button
      .uil-default-css
        display: none
    &.sending
      .button-wrap
        &:after
          content: ''
          display: block
          position: absolute
          left: 0
          top: 0
          right: 0
          bottom: 0
      button
        .uil-default-css
          width: 10px
          height: 10px
          display: inline-block
          top: -10px
          transform: scale(0.1)
          > div
            background: #1e88e5

.cart-confirmation
  .basket-footer
    .cart-button
      a
        .uil-default-css
          width: 10px
          height: 10px
          display: none
          transform: scale(0.1)
          top: -10px
          > div
            background: #fff
  &.sending
    .basket-footer
      .cart-button
        &.red-button
          &:after
            content: ''
            display: block
            position: absolute
            left: 0
            top: 0
            right: 0
            bottom: 0
        a
          .uil-default-css
            display: inline-block

.mobile-menu-panel
  background: #263238
  width: 490px
  height: 100%
  position: fixed
  z-index: 2
  display: none
  ul
    margin: 0
    list-style: none
    margin-top: 15px
    li
      height: 62px
      border-bottom: 1px solid #1c282e
      position: relative
      a
        display: block
        +default_font_style(#fff, 20, 500, 62)
        text-transform: uppercase
        svg
          display: inline
          width: 85px
          height: 62px
          padding: 18px
          float: left
          path
            fill: #656d72
      &.current
        border-left: 5px solid #1e88e5
        background: #1c282e
        a
          color: #1e88e5
        svg
          path
            fill: #1e88e5
      &:hover
        background: #1e88e5
        a
          color: #fff
        svg
          path
            fill: #fff

.mobile-menu-background-cover
  background: #263238
  opacity: .4
  position: fixed
  width: 100%
  height: 100%
  z-index: 1
  display: none

header
  background: #1976d2
  min-height: 282px
  padding-bottom: 170px
  margin-bottom: -170px
  .header-menu
    background: #1565c0
    height: 25px
    overflow: hidden
    p
      color: #eceff1
      font:
        weight: 300
        size: rem-calc(12)
      line-height: 25px
      margin: 0
    ul
      margin: 0
      list-style: none
      background: #1565c0
      position: absolute
      top: 0
      right: 0.9375rem
      padding-left: 26px
      li
        float: left
        a
          color: #eceff1
          font:
            size: rem-calc(12)
            weight: 400
          padding-left: 6px
          padding-right: 6px
          line-height: 25px
          +transition(opacity, 100ms, cubic-bezier(0.250, 0.250, 0.750, 0.750))
          &:hover
            color: #fff
            opacity: 1


      &:before
        content: '...'
        position: absolute
        left: 2px
        bottom: 2px
        color: #eceff1
        font:
          size: rem-calc(12)
          weight: 300
        opacity: .5
        @media #{$small-only}
          display: none

    p, a
      opacity: .5
  .header-logo
    padding-top: 10px
    width: 208px
    overflow: hidden
    @media screen and ( max-width: 970px)
      width: 16.66667%
      img
        &.hide-for-small-only
          display: none !important
        &.show-for-small-only
          display: block !important
    @media screen and ( max-width: 480px)
      width: 80px
  .header-main
    padding-top: 15px
    ul
      list-style: none
      margin: 0
      margin-top: 6px
      li
        width: 40px
        float: left
        a
          display: block
          padding: 10px
          svg
            opacity: .8
            +transition(opacity, 100ms, cubic-bezier(0.250, 0.250, 0.750, 0.750))

          &:hover
            svg
              opacity: 1
    p
      color: rgba(255, 255, 255, .8)
      font:
        weight: 400
        size: rem-calc(12)
      margin-bottom: 0
      span
        @media screen and ( max-width: 355px)
          display: none
      a
        font:
          size: rem-calc(18)
          weight: 500
        color: inherit
        margin-left: 10px
    form
      height: 30px
      position: relative
      margin-top: 10px
      .input
        input
          //opacity: .4
          padding-left: 35px
          height: 30px
          margin: 0
          background: rgba(255, 255, 255, .4) !important
          border: none
          +placeholder(rgba(236, 239, 241, .7), 14px, none)
            line-height: 18px
          box-shadow: none
          -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.35)
          -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.35)
          box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.35)
          color: #fff
      .submit
        width: 30px
        height: 30px
        position: absolute
        left: 0
        top: 0
        button
          display: block
          width: 30px
          height: 30px
          background: transparent
          padding: 0
          margin: 0
          svg
            width: 100%
            padding: 7px
            path
              fill: #eceff1 !important
              opacity: 1 !important

    &.header-main-hide-for-mobile
      @media screen and ( max-width: 950px)
        display: none
    &.header-main-show-for-mobile
      @media screen and ( max-width: 950px)
        width: 50%
        p
          text-align: right
      @media #{$small-only}
        width: 69%

.button-box-shadow
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35)

.cart-link
  width: 75px
  height: 75px
  //background: #f50057
  position: absolute
  top: 240px
  right: 50px
  .cl-count-items
    display: none
  &.cart-not-empty
    .cl-count-items
      display: block
  &.fixed-cart
    position: fixed
    top: 35px
    @media (max-width: 1275px)
      top: inherit
  @media (max-width: 1275px)
    display: none
  a
    display: block
    position: relative
  .cl-count-items
    position: absolute
    background: #f50057
    left: 15px
    top: 15px
    width: 45px
    height: 45px
    .cl-ci-number
      +default_font_style(#eceff1, 20, 500, 45)
      text-align: center
      font-family: 'Roboto', sans-serif


  .cart-link-background
  svg
    padding: 20px
    width: 100%
    +my_center_align()
      position: absolute
    top: 46%
    path
      fill: #eceff1
    &.close-cart
      padding: 10px
      display: none
  a.current
    svg
      display: none
      &.close-cart
        display: block

.cart-link-m
  display: none
  @media (max-width: 1275px)
    display: block
    right: 20px
    bottom: 20px
    top: inherit
    position: fixed
    z-index: 111

ul.breadcrumbs
  background: #eceff1
  border: none
  padding-top: 12px
  padding-bottom: 11px
  position: relative
  li
    position: relative
    margin-right: 4px
    a
      padding-left: 6px
      color: #1e88e5
      font:
        size: rem-calc(12)
        weight: 400
      &:hover
        text-decoration: none
        color: #f50057 !important
    span
      color: #607d8b
      font:
        size: rem-calc(12)
        weight: 400
      padding-left: 6px
    &:before
      color: #607d8b
      position: absolute
      top: 0
      left: 0
      margin: 0
    &:first-of-type
      a
        padding-left: 9px
        color: #1e88e5
        font:
          size: rem-calc(12)
          weight: 400
      &:before
        content: '||'

  .hide-catalog-header
    position: absolute
    right: 0.9375rem
    +default_font_style(#607d8b, 12, 300, 13)
    text-transform: uppercase
    padding-right: 35px
    &:before
      display: none
    .hch-arrow
      background: #d1d3d4
      position: absolute
      top: -6px
      right: 0
      cursor: pointer
.reveal-modal
  .close-reveal-modal
    position: static
    +default_font_style(#1e88e5, 14, 500, 16.8)
    text-transform: uppercase
main
  min-height: 450px
  background: #fff
  position: relative

  -webkit-box-shadow: 1px 5px 3px 2px rgba(0,0,0,0.35)
  -moz-box-shadow: 1px 5px 3px 2px rgba(0,0,0,0.35)
  box-shadow: 1px 5px 3px 2px rgba(0,0,0,0.35)

  +grid-row()
  .carousel-product-list
    .owl-stage-outer
      .owl-stage
        .owl-item
          //width: 100% !important
  .main-menu-wrap
    height: 60px
    background: #263238
    position: relative
    z-index: 10
    nav#main-menu
      height: inherit
      ul
        margin: 0
        list-style: none
        height: inherit
        li
          height: inherit
          float: left
          position: relative
          +transition(background, 200ms, cubic-bezier(0.250, 0.250, 0.750, 0.750))
          width: 18.6%
          &:after
            display: block
            content: ''
            width: 1px
            background: #1c282e
            position: absolute
            right: 0
            top: 0
            bottom: 0
          &:first-child
            width: 7%
          span
            background: #fff
            opacity: .2
          a
            display: block
            height: inherit
            color: #eceff1
            font:
              size: rem-calc(18)
              weight: 500
            line-height: 20px
            text-transform: uppercase
            padding-left: 15px
            padding-right: 20px
            padding-top: 0
            padding-bottom: 0
            +custom_transition(background, 100ms, cubic-bezier(0.250, 0.250, 0.750, 0.750), 200ms)
            span
              background: transparent
              color: #eceff1
              opacity: 1
              display: inline-block
              margin-top: 9px
            svg
              height: 100%
              width: auto
              padding-top: 21px
              padding-bottom: 21px
              float: left
              margin-right: 15px
              path
                fill: #656d72
          &:first-child
            svg
              margin-left: 10px
              margin-right: 10px
          &:last-of-type:after
            display: none
          &:hover
            background: #1c282e
            a, span
              color: #1976d2
            path
              fill: #1976d2
          &.current
            background: #1c282e

    .mobile-main-menu
      height: inherit
      display: none
      .right-controls
        float: right
        a
          display: inline-block
          height: 60px
          width: 40px
          padding-top: 18px
          padding-bottom: 18px
          svg
            width: 100%
            height: 100%
            path
              fill: #656d72
              opacity: 1
    @media screen and ( max-width: 950px)
      nav#main-menu
        display: none
      .mobile-main-menu
        display: block

  .main-body
    min-height: 523px
    @media (min-height: 1081px)
      min-height: 711px
  .page-block
    margin-bottom: 60px
    .page-block-title
      background: #eceff1
      height: 40px
      margin-bottom: 30px
      .title
        +default_font_style(#1e88e5, 20, 500, 40)
        text-transform: uppercase
        display: inline-block
        svg
          height: 100%
          width: 18px
          margin-right: 5px
          position: relative
          top: 2px
          path
            fill: #1e88e5
      a
        color: #607d8b
        font:
          size: rem-calc(12)
          weight: 400
        line-height: 40px
        float: right
      span
        color: #607d8b
        display: inline-block
        text-transform: uppercase
        font:
          weight: 400
          size: rem-calc(24)
        line-height: 40px
      .owl-dots
        display: inline-block
        float: right
        height: 40px
        max-width: 150px
        overflow: hidden
        .owl-dot
          width: 40px
          height: 40px
          display: inline-block
          margin: 0 5px
          cursor: pointer
          padding: 14px
          span
            display: block
            background: #93989c
            width: 100%
            height: 100%
          &.active
            span
              background: #42a5f5
      @media #{$small-only}
        span
          font:
            size: rem-calc(19.2)
        .owl-dots
          .owl-dot
            margin: 0

    &.publications-block
      .pb-sub-publications-block
        &:first-of-type
          @media #{$medium-up}
            //+grid-column(6)
            height: 300px
            padding-right: 2px
            margin-bottom: 4px
        &:nth-of-type(2)
          @media #{$medium-up}
            //+grid-column(6)
            height: 300px
            padding-left: 2px
            margin-bottom: 4px
      .medium-11
        .pb-sub-publications-block
          &:first-of-type
            @media #{$medium-up}
              //+grid-column(4)
              height: 120px
              padding-right: 2px
            @media #{$small-only}

            a
              background: #42a5f5
              display: block
              height: 100%
              color: #1c282e
              font:
                size: rem-calc(20)
                weight: 400
              line-height: 25px
              text-transform: uppercase
          &:nth-of-type(2)
            @media #{$medium-up}
              //+grid-column(4)
              height: 120px
              padding-left: 2px
              padding-right: 2px
              a
                background: #42a5f5
                display: block
                height: 100%
                color: #1c282e
                font:
                  size: rem-calc(20)
                  weight: 400
                line-height: 25px
                text-transform: uppercase
          &:nth-of-type(3)
            @media #{$medium-up}
              //+grid-column(4)
              height: 120px
              padding-left: 2px
              padding-right: 2px
              margin-bottom: 4px
              a
                background: #42a5f5
                display: block
                height: 100%
                color: #1c282e
                font:
                  size: rem-calc(20)
                  weight: 400
                line-height: 25px
                text-transform: uppercase
      .pb-publications-more
        @media #{$medium-up}
          height: 120px
          padding-left: 2px
          margin-bottom: 4px
        @media #{$small-only}
          height: 120px
          width: 53px
          position: absolute
          top: 0
          right: 0.9375rem
          a
            margin: 0
            padding: 0
        a
          background: #263238
          display: block
          height: 100%
          div
            width: 18px
            height: 30px
            //border: 1px solid #fff
            +my_center_align()
              &:before, &:after
                display: block
                content: ''
                background: #eceff1
                height: 4px
                width: 20px
                position: absolute
              &:before
                +rotate(45deg)
                top: 6px
              &:after
                +rotate(-45deg)
                top: 18px
          &:hover
            background: #f50057

    &.new-windowsill-block
      .page-block-title
        span
          float: right
        a
          float: left
      ul
        margin: 0
        list-style: none
        &.owl-carousel
          .owl-stage-outer
            //overflow-y: visible
            //overflow-x: hidden
  .one-brand-characteristic
    margin-bottom: 40px
    svg
      width: 35%
    .title
      color: #263238
      font:
        size: rem-calc(14)
        weight: 400
      line-height: 20px

  .article
    h3
      +default_font_style(#1c282e, 24, 400, 28.8)
      text-transform: uppercase
    h4
      +default_font_style(#1c282e, 18, 500, 21.6)
      text-transform: uppercase
    h5
      +default_font_style(#263238, 18, 500, 26)
    h6
      +default_font_style(#263238, 16, 500, 26)
    p
      +default_font_style(#607d8b, 15, 400, 24)
    blockquote
      +default_font_style(#1e88e5, 19, 300, 23)
      font:
        style: italic
        family: Georgia
      width: 85%
      display: block
      margin: 0 auto
      margin-bottom: 20px
      border: none
      padding-top: 32px
      padding-bottom: 24px
      position: relative
      &:before, &:after
        font:
          family: Georgia
          style: italic
        position: absolute

      &:before
        content: '«'
        +default_font_style(#607d8b, 60, 300, 30)
        left: 15px
        top: -5px
      &:after
        content: '»'
        +default_font_style(#607d8b, 24, 300, 24)
        right: 20px
        bottom: -5px
    img
      padding-left: 0.9375rem
      padding-right: 0.9375rem
    i
    ul
      list-style-type: none
      li
        text-indent: -18px
        +default_font_style(#607d8b, 15, 400, 24)
        margin-bottom: 7px
        &:before
          content: "— "
          text-indent: -18px
          color: #42a5f5
    ol
      li
        +default_font_style(#42a5f5, 15, 400, 24)
        margin-bottom: 7px
        span
          color: #607d8b
    table
      width: 100%
      border-color: #ebeef0
      border-collapse: collapse
      margin-top: 0.9375rem
      tr
        th
          font-family: 'Roboto', sans-serif
        &:nth-of-type(even)
          background: transparent !important

      thead
        background: transparent !important
        border-bottom: 1px solid #ebeef0
        tr
          th
            padding-top: 0
            padding-bottom: 0
            text-align: center
          &:first-child
            background: #1e87e4
            th
              +default_font_style(#ffffff, 16, 500, 40)
              &:first-child
                border-right: 1px solid #ebeef0
          &:last-child
            th
              +default_font_style(#1976d1, 18, 500, 45)
              &:first-child
                border-right: 1px solid #ebeef0

      tbody
        tr
          td
            padding-top: 0
            padding-bottom: 0
            text-align: center
            +default_font_style(#263238, 16, 500, 50)
            &:first-child
              color: #1e87e4
              text-align: left
              border-right: 1px solid #ebeef0

//@media only screen and (min-width: 90.063em)
  .row-wide
    width: 1441px
#exchange-rate
  border: 1px solid #eceff1
  .ext-rate-title-wrap
    position: relative
    height: 137px
    margin-left: 20px
  .ext-rate-title
    +my_center_align()
      position: absolute
    .title
      +default_font_style(#607d8b, 12, 400, 14)
      text-transform: uppercase
      text-align: center
      white-space: nowrap
    svg
      display: block
      margin: 0 auto
      margin-bottom: 15px
      width: 85%
      path
        fill: #607d8b
  .ext-rate-one
    padding-top: 10px
    padding-bottom: 10px    
    .ext-rate-body
      padding-left: 20px
    svg
      position: absolute
      top: 3px
      left: 15px
    &.ext-rate-one-euro
      svg
        top: 4px
  hr
    margin: 0
    border-color: #eceff1
  b
    +default_font_style(#1976d2, 18, 500, 14)
  p
    +default_font_style(#607d8b, 12, 300, 12)
    margin-bottom: 0

.promotions-page
  .one-promotions
    margin-bottom: 35px
    position: relative
    .image
      height: 0
      padding-bottom: 40%
    .one-promotions-countdown-wrap
      position: absolute
      left: 0
      bottom: 20px
      .one-promotions-countdown-timer
        height: 100px
        background: #eceff1

      @media #{$medium-up}
        +grid-column(8)

    .one-promotions-body
      background: #42a5f5
      position: absolute
      top: 0
      right: 0
      bottom: 0
      padding-top: 25px
      .valko-arrow
        position: absolute
        left: 0
      a
        color: #1c282e
        font:
          size: rem-calc(24)
          weight: 400
        line-height: 28px
        text-transform: uppercase
      p
        color: #eceff1
        font:
          size: rem-calc(12)
          weight: 400
        line-height: 20px
        margin-bottom: 0
        @media screen and ( max-width: 835px)
          display: none

      .one-promotion-body-read-more
        position: absolute
        left: 0
        right: 0
        bottom: 20px
      .read-more
        background: #fff
        .ink
          //background: #ffdfcd
          background: #42a5f5
          opacity: .6
        a
          color: #1e88e5
          font:
            size: rem-calc(14)
            weight: 400
          line-height: 16px
          text-transform: uppercase
          display: block
          padding: 10px
      .promotion-banner-dates
        display: block
        color: #1c282e
        font:
          size: rem-calc(14)
          weight: 400
          family: 'Roboto', sans-serif
        line-height: 20px
        margin-top: 5px
        svg
          width: 20px
          position: relative
          top: 3px

      @media #{$medium-up}
        +grid-column(4)
        padding-left: 42px
    &:hover
      .image
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale")
        -webkit-filter: grayscale(0)
        filter: grayscale(0)

    @media #{$small-only}
      .one-promotions-body
        position: static
        padding: 15px 30px 25px 30px
        p
          margin-bottom: 15px
      .one-promotions-countdown-wrap
        position: static
        .one-promotions-countdown-timer
          -webkit-box-shadow: none
          -moz-box-shadow: none
          box-shadow: none
      .one-promotion-body-read-more
        right: 15px
        bottom: 25px


.default-field-date
  display: block
  color: #1c282e
  font:
    size: rem-calc(14)
    weight: 400
    family: 'Roboto', sans-serif
  line-height: 20px
  svg
    width: 20px
    position: relative
    top: 4px

.one-promotions-page
  .one-promotions-page-head
    margin-bottom: 40px
    .image
      height: 366px
    .one-promotions-head-countdown-wrap
      height: 100px
      background: #ebeef0
  .one-promotions-page-body
    margin-bottom: 70px
    .style-for-small
      @media #{$small-only}
        margin-bottom: 35px
    .title
      color: #1c282e
      font:
        size: rem-calc(24)
        family: 'Roboto', sans-serif
        weight: 400
      line-height: 28px
      text-transform: uppercase
    .link-to-catalog
      background: #f40057
      float: left
      a
        display: block
        color: #ebeef0
        font:
          size: rem-calc(14)
          weight: 500
        line-height: 16.8px
        text-transform: uppercase
        padding: 12px 25px
    .ltc-prompt
      color: #929497
      font:
        size: rem-calc(14)
        weight: 400
        family: 'Roboto', sans-serif
      line-height: 40px
      float: left
      margin-left: 16px

  .default-field-date
    color: #939598
    font:
      size: rem-calc(14)
      weight: 400
    line-height: 20px
    @media #{$small-only}
      text-align: center
    svg
      path
        fill: #939598
.other-items
  background: #ebeef0
  margin-top: 35px
  .other-items-head
    height: 70px
    border-bottom: 1px solid rgba(35, 31, 32, .1)
    div
      display: block
      color: #607d8a
      font:
        size: rem-calc(24)
        family: 'Roboto', sans-serif
        weight: 400
      line-height: 70px
      text-transform: uppercase
      text-align: center

  .other-items-body
    margin-bottom: 77px
    .other-item
      a
        display: block
        padding-top: 20px
        padding-bottom: 20px
        border-bottom: 1px solid rgba(35, 31, 32, .1)
        .title
          color: #1c282e
          font:
            size: rem-calc(14)
            weight: 400
          line-height: 16px
          text-transform: uppercase
          margin-bottom: 5px
        .image
          height: 0
          padding-bottom: 45%
        &:hover
          .title
            color: #1e87e4
          .image
            filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale")
            -webkit-filter: grayscale(0)
            filter: grayscale(0)

      &.end
        a
          border-bottom: none
  &.show-for-small-only
    .other-items-body
      .other-item
        position: relative
        a
          border: none
          +default_font_style(#1e88e5, 15, 400, 18)
          padding-left: 53px
          .valko-arrow
            +my_vertical_align()
              position: absolute
            left: 0
          &:hover
            .valko-arrow
              background: #f50057

.publication-default
  @media #{$small-only}
    margin-bottom: 6px
  a
    position: relative
    display: block
    height: inherit
    .image
      height: 0
      padding-bottom: 54%
      +transition(all, 0.3s, cubic-bezier(0, 0, 0.42, 0.99))
    .pb-publication-body
      background: #42a5f5
      position: absolute
      bottom: 0
      left: 0
      right: 0
      min-height: 112px
      height: 130px
      padding-left: 30px
      padding-right: 18px
      padding-top: 15px

      .title
        display: inline-block
        color: #1c282e
        font:
          family: 'Roboto', sans-serif
          size: rem-calc(24)
          weight: 400
        line-height: 28.8px
        text-transform: uppercase
      p
        color: #fff
        font:
          size: rem-calc(12)
          weight: 300
      .valko-arrow
        position: absolute
        left: 0
        top: 16px
        +transition(all, 0.3s, cubic-bezier(0, 0, 0.42, 0.99))

    &:hover
      .valko-arrow
        background: #f50057
      .title
        color: #fff
        +transition(all, 0.4s, ease)
      .image
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale")
        -webkit-filter: grayscale(0)
        filter: grayscale(0)
  &.publication-default-mobile
    a
      height: 120px !important
      background: #42a5f5
      +default_font_style(#1c282e, 20, 400, 28.8)
      text-transform: uppercase
      padding: 0 30px
      .valko-arrow
        float: initial
        margin-bottom: 3px
        +transition(all, 0.3s, cubic-bezier(0, 0, 0.42, 0.99))
      &:hover
        color: #fff !important
        +transition(all, 0.4s, ease)

    &:last-child
      @media #{$small-only}
        a
          margin-right: 59px


.custom-checkbox
  input[type=checkbox]
    position: absolute
    z-index: -1000
    left: -1000px
    overflow: hidden
    clip: rect(0 0 0 0)
    height: 1px
    width: 1px
    margin: -1px
    padding: 0
    border: 0
    & + label
      cursor: pointer
      float: left
      margin: 0 20px 0 0
      &.cch-icon
        display: block
        width: 18px
        height: 18px
        border: 2px solid #939598
        position: relative
        top: 2px
        &:after
          content: ''
          background: asset-url("ic_check_white_24px.svg")
          width: 100%
          height: 100%
          display: block
          background-size: 100%
      &.cch-text
        color: #263238
        font:
          size: rem-calc(14)
          weight: 400
        line-height: 21px
    &:checked
      & + label
        &.cch-icon
          border-color: #f50057
          background: #f50057
  &.cc-blue
    input[type=checkbox]
      & + label
      &:checked
        & + label
          &.cch-icon
            border-color: #1e88e5
            background: #1e88e5

.publications-page
  padding-bottom: 55px
  .main_publication
    height: 366px
    position: relative
    margin-bottom: 8px
    .publication-body
      background: #42a5f5
      position: absolute
      top: 0
      right: 0
      bottom: 0
      @media #{$medium-up}
        +grid-column(4)
      padding-left: 40px !important
      padding-top: 20px
      a
        color: #1c282e
        font:
          size: rem-calc(24)
          weight: 400
        line-height: 28.8px
        text-transform: uppercase

      p
        color: #eceff1
        font:
          size: rem-calc(12)
          weight: 400
        line-height: 20px

      .valko-arrow
        position: absolute
        left: 0

      .publication-body-read-more
        position: absolute
        left: 0
        right: 0
        bottom: 20px
        .read-more
          background: #fff
          a
            color: #1e88e5
            font:
              size: rem-calc(14)
              weight: 400
            line-height: 16px
            text-transform: uppercase
            display: block
            padding: 10px
    &:hover
      .image
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale")
        -webkit-filter: grayscale(0)
        filter: grayscale(0)
    @media #{$small-only}
      height: auto
      .image
        height: 0
        padding-bottom: 54%
      .publication-body
        top: inherit
        height: 110px
        padding-left: 30px !important
        padding-right: 18px
        padding-top: 15px
        width: 100%
        .default-field-date, .publication-body-read-more
          display: none
    @media screen and ( max-width: 435px)
      .image
        padding-bottom: 80%
      .publication-body
        a
          font-size: 1.25rem
        p
          display: none
        &:hover
          .valko-arrow
            background: #f50057
          a
            color: #fff

  .publication-documents
    border: 1px solid #eceff1
    margin-bottom: 10px
    .medium-2
      svg
        height: 41px
        margin-top: 10px
        path
          fill: #607d8b
      p
        color: #607d8b
        font:
          size: rem-calc(12)
          weight: 400
        line-height: 14px
        width: 85%
        margin: 0 auto
    a
      color: #1976d2
      font:
        size: rem-calc(14)
        weight: 500
      line-height: 14px
      text-transform: uppercase
      display: block
      position: relative
      padding-left: 33px
      margin-top: 18px
      padding-bottom: 10px
      svg
        width: 24px
        position: absolute
        left: 0
        top: 0
        path
          fill: #1976d2
      p
        color: #93989c
        font:
          size: rem-calc(12)
          weight: 400
        line-height: 14px
        margin-bottom: 0
        text-transform: initial

  .publication-default
    margin-bottom: 4px
    &:nth-of-type(2n+1)
      @media #{$medium-up}
        padding-right: 2px
    &:nth-of-type(2n)
      @media #{$medium-up}
        padding-left: 2px
    @media screen and ( max-width: 435px)
      a
        .image
          padding-bottom: 80%
      .pb-publication-body
        height: 110px
        .title
          font:
            size: 1.25rem
        p
          display: none

.main-footer
  .mf-inner
    min-height: 32px
    margin-top: 10px
  p
    margin-bottom: 0
    color: #939598
    font:
      size: rem-calc(12)
      weight: 400
    padding-right: 60px
  .scroll-top-button-wrap
    width: 53px
    position: absolute
    right: 0.9375rem
    bottom: 0
  .scroll-top-button
    background: #607d8b
    padding-bottom: 80%
    height: 0
    position: relative
    cursor: pointer
    //+test_transition
    &:hover
      background: #f50057
    div
      width: 24px
      height: 24px
      +my_center_align()
        position: absolute
      &:before
        display: block
        content: ''
        position: absolute
        background: #eceff1
        height: 3px
        width: 15px
        +rotate(-45deg)
        top: 10px
        left: 0
      &:after
        display: block
        content: ''
        position: absolute
        background: #eceff1
        height: 3px
        width: 15px
        +rotate(45deg)
        top: 10px
        right: 0

footer
  background: #1976d2
  min-height: 193px
  padding-top: 71px
  margin-top: -53px
  p
    color: #bad6f1
  a
    color: #bad6f1
    +transition_all(.3s)
    svg
      path
        fill: #bad6f1
        +transition_all(.3s)
    &:hover
      color: #fff !important
      svg
        path
          fill: #fff !important

  ul, nav
    margin: 0
    list-style: none
    li
      float: left
  nav
    float: right
    margin-bottom: 20px
    margin-top: 4px
    li
      border-right: 1px solid #263238
      line-height: 16px
      a
        text-transform: uppercase
        font:
          size: rem-calc(16)
          weight: 500
        line-height: 16px
        padding-left: 5px
        padding-right: 5px
      &:last-of-type
        border: none

  ul.site-map-nav
    li
      a
        font:
          size: rem-calc(12)
          weight: 400
        padding-left: 10px
        padding-right: 10px

  p.copyright
    font:
      size: rem-calc(16)
      weight: 300
    line-height: 24px
    text-transform: uppercase
    margin-bottom: 10px

ul.socials
  height: 24px
  text-align: center
  li
    height: inherit
    margin-left: 8px
    width: 24px
    margin-right: 8px
    display: inline-block
    a
      height: inherit
      display: block
      svg
        height: 100%
        path
          fill: #bad6f1

#ordered-products
  a
    color: #1e88e5

ul.voronin-block-wrap
  margin: 0 !important
  //padding-top: 10px
  li
    list-style: none
    float: left
    p
      font:
        size: rem-calc(12)
        style: normal !important
        weight: 300
      white-space: nowrap
      margin:
        bottom: 0 !important
        top: 0 !important
      padding-top: 0px

      a
        color: inherit
        text-decoration: none
        font-family: inherit
    svg
      width: 48px
      height: 100%
  li.vbw-image
    width: 48px
    a
      display: block
      svg
        width: 100%

  li.vbw-text
    width: 80%
    padding: 3% 0 0 2%
    p
      letter-spacing: normal !important
      font:
        weight: 400
        size: rem-calc(12) !important



.pb-sub-block
  &.sub-catalog-one-item
    height: 137px
    margin-bottom: 5px
    .sc-oi-avatar, .sc-oi-body
      height: inherit
      float: left
    .sc-oi-avatar
      width: 40%
    .sc-oi-body
      background: #42a5f5
      width: 60%
      .sc-oi-title
        margin-top: 10px
        margin-bottom: 4px
        color: #1c282e
        font:
          family: 'Roboto', sans-serif
          size: rem-calc(18)
          weight: 500
        line-height: 21.6px
        text-transform: uppercase
        display: inline-block
        a
          color: inherit
          font:
            size: inherit
            weight: inherit
        .valko-arrow
          margin-right: 8px

      ul
        margin: 0
        list-style: none
        margin-bottom: 5px
        li
          float: left
          //padding-left: 4px
          padding-right: 4px
          //border-right: 2px solid #fff
          //height: 12px
          line-height: 16px
          a
            color: #1c282e
            font:
              size: rem-calc(12)
              weight: 400
            span
              padding-left: 5px
              color: #eceff1

          //&:first-of-type
            padding-left: 0
          //&:last-of-type
            border-right: none
      p
        color: #eceff1
        font:
          size: rem-calc(12)
          weight: 400
        line-height: 20px
    &:hover
      .image
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale")
        -webkit-filter: grayscale(0)
        filter: grayscale(0)

    &.sub-catalog-in-developing
      &:hover
        .image
          filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale")
          -webkit-filter: grayscale(1)
          filter: grayscale(1)
          filter: gray
      .sc-oi-body
        background: #869aa5

.red
  color: red

.valko-arrow
  width: 25px
  height: 25px
  background: #263238
  float: left
  div
    width: 7px
    height: 12px
    +my_center_align()
    &:before, &:after
      content: ''
      display: block
      height: 2px
      width: 9px
      background: #fff
      position: absolute
      left: -1px
  &.va-right
    div
      &:before
        +rotate(45deg)
        top: 2px
      &:after
        +rotate(-45deg)
        bottom: 2px
  &.va-bottom
    div
      &:before
        +rotate(45deg)
        top: 5px
        left: -4px
      &:after
        +rotate(-45deg)
        bottom: 5px
        left: 2px
  &.va-top
    div
      &:before
        +rotate(45deg)
        top: 4px
        left: 3px
      &:after
        +rotate(-45deg)
        bottom: 6px
        left: -3px

.bx-wrapper
  -moz-box-shadow: none
  -webkit-box-shadow: none
  box-shadow: none
  border: none
  background: transparent

.promotion-banner-wrapper
  position: relative
  margin-top: 30px
  .mobile-promo-banner-body
    background: #eceff1
    height: 135px
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 15px 35px
    border-left: 6px solid #1976d2
    .title, a
      display: inline-block
      +default_font_style(#1976d2, 24, 500, 24)
    p
      +default_font_style(#607d8b, 13, 400, 18)
      margin-bottom: 0
      max-height: 36px
      overflow: hidden
    .promotion-banner-dates
      display: inline-block
      +default_font_style(#1e88e5, 12, 400, 20)
      font:
        family: 'Roboto', sans-serif
    .valko-arrow
      position: absolute
      left: 0
      background: #1976d2
      margin-top: 3px

  .promotion-banner-pager
    position: absolute
    left: 0
    top: 0
    background: #eceff1
    padding: 0
    +grid-column(4)
    padding-left: 0
    @media screen and ( max-width: 840px)
      width: 50%
    @media screen and ( max-width: 700px)
      width: 60%
    //@media #{$small-only}
      display: none
    a, .ppp-one
      display: block
      height: 135px
      border-bottom: 1px solid #fff
      padding: 0 28px
      position: relative
      .title
        display: inline-block
        color: #939598
        font:
          size: rem-calc(24)
          family: 'Roboto', sans-serif
          weight: 400
        line-height: 24px
        margin-top: 10px
      p
        color: #939598
        font:
          size: rem-calc(13)
          weight: 400
        line-height: 18px
        margin-bottom: 0
      .promotion-banner-dates
        color: #939598
        display: inline-block
        font:
          size: rem-calc(12)
          weight: 400
          family: 'Roboto', sans-serif
      .valko-arrow
        display: none
      &:last-of-type
        border-bottom: none
      &.active
        border-left: 6px solid #1976d2
        padding-left: 35px
        .title
          color: #1976d2
        p
          color: #607d8b
        .promotion-banner-dates
          color: #1e88e5
        .valko-arrow
          display: block
          position: absolute
          left: 0
          top: 15px
          background: #1976d2
    @media #{$small-only}
      background: transparent
      bottom: 15px
      top: inherit
      right: 0
      left: inherit
      float: right
      width: auto
      a
        width: 12px
        height: 12px
        background: #93989c
        padding: 0
        border: none !important
        display: inline-block
        float: left
        margin: 0 20px
        &.active
          background: #8ec3f2
          padding: 0
      .title, p, .promotion-banner-dates, .valko-arrow
        display: none !important




ul#promotion-banner
  height: 405px
  margin: 0
  list-style: none
  li
    height: inherit
    position: relative
    .image

    .promotion-banner-countdown-wrap
      position: absolute
      right: 0
      bottom: 20px
      @media #{$medium-up}
        +grid-column(8)
      .promotion-banner-countdown-timer
        height: 100px
        background: #eceff1
        @media screen and ( max-width: 840px)
          display: none

    .promo-banner-body
      position: absolute
      left: 0
      top: 0

.valko-countdown-promo
  background: transparent
  height: inherit
  border: none
  padding-top: 10px
  padding-bottom: 10px
  .countdown-row
    .countdown-section
      .countdown-amount
        color: #1e88e5
        font:
          size: rem-calc(48)
          weight: 300
          family: 'Roboto', sans-serif
        line-height: 57px
      .countdown-period
        color: #607d8b
        font:
          size: rem-calc(14)
          weight: 400
          family: 'Roboto', sans-serif
        line-height: 16px
      &:last-child
        .countdown-amount
          color: #1565c0

.image
  max-width: 100%
  width: 100%
  height: 100%
  padding-bottom: 0
  overflow: hidden
  -webkit-background-size: cover !important
  -moz-background-size: cover !important
  -o-background-size: cover !important
  background-size: cover !important
  margin: 0 auto

#map_canvas
  height: 366px
  margin-bottom: 30px
.feedback-form
  margin-top: 65px
  margin-bottom: 75px
  .title
    color: #607d8b
    font:
      size: rem-calc(24)
      weight: 400
    line-height: 28.8px
    text-transform: uppercase
    margin-bottom: 20px
  .custom-checkbox
    margin-top: 30px
    margin-left: 35px

$error_color: #f50057
form
  .input
    label
      color: #AFBDC4
      font:
        size: rem-calc(14)
      line-height: rem-calc(30)
    &:not(.animate-input)
      label
        opacity: .5
    input, textarea, select
      font:
        size: rem-calc(16)
        weight: 400
      color: #4d4d4d
      background: transparent !important
    &.animate-input
      position: relative
      label
        display: block
        transform: translateY(25px)
        transition: all 0.5s

        color: #AFBDC4
        font:
          size: rem-calc(14)
        line-height: rem-calc(20)
        opacity: .5
        span
          display: none
      input, select
        height: 30px
      input, textarea, select
        position: relative
        width: 100%
        border: 0 solid #AFBDC4
        border-width: 0 0 1px 0
        box-shadow: none
        outline: none
        margin: 0

      &.error
        svg
          path
            fill: $error_color
        label
          color: $error_color
          & span
            display: inline-block
        input, textarea, select
          border-color: $error_color

      &.is-active
        &::after
          transform: scaleX(1)
        label
          opacity: 1
          color: #607d8b
          font:
            size: rem-calc(12)
        input, textarea, select
          border-bottom: 2px solid #1e88e5

      &.is-completed
        label
          font-size: rem-calc(12)
          transform: translateY(0px)
          color: #607d8b
        svg
          path
            fill: #607d8b
    &.animated-select
      select
        margin: 0
        padding: 0

  .button-wrap
    margin-top: 20px
  .material-component
    background: #f50057
    button
      background: transparent
      margin: 0
      color: #fff
      font:
        size: rem-calc(14)
        weight: 500
      text-transform: uppercase
      padding: 11px 30px

  &.default-form-with-icons
    svg
      path
        fill: #bcbec0
        //fill: #607d8b
    .animate-input
      padding-left: 35px

      .input-ico
        width: 32px
        height: 32px
        position: absolute
        bottom: -8px
        left: 0
        svg
          height: 22px
      &.is-active
        .input-ico
          svg
            path
              fill: #1e88e5
    .animate-textarea
      .input-ico
        top: 25px
        bottom: inherit

nav
  &.pagination
    text-align: center
    margin-top: 45px
    margin-bottom: 65px
    span
      width: 36px
      height: 36px
      border-radius: 50%
      background-color: transparent
      display: inline-block
      line-height: 2.25rem
      &.page
        color: #778F9B
        font-size: 1.125rem
        font-weight: 500
        a
          color: inherit
          font-size: inherit
          font-weight: inherit
        &.current
          background-color: #f50057
          color: #fff
        &:hover
          background-color: #E3E3E3
.contacts-page
  .contacts-block
    background: #42a5f5
    .contacts-block-head
      height: 70px
      border-bottom: 1px solid rgba(0, 0, 0, .1)
      .title
        color: #1c282e
        line-height: 70px
        font:
          size: 24px
          weight: 400
        text-transform: uppercase

    .contacts-block-body
      padding-top: 45px
      padding-bottom: 45px
      b
        color: #fff
        font:
          size: rem-calc(24)
          weight: 400
        line-height: 28.8px
        margin-bottom: 10px
        display: block
      p
        color: #1c282e
        padding-left: 40px 
        position: relative
        margin-bottom: 0
        font:
          size: rem-calc(16)
          weight: 400
        line-height: 24px
        svg
          width: 20px
          position: absolute
          left: 0
          top: 1px
          path
            fill: #eceff1
  .offers-and-comments
    border: 1px solid #eceff1
    padding: 35px 0
    svg
      height: 36px
      width: 100%
      margin-bottom: 5px
      path
        fill: #607d8b
    p
      color: #607d8b
      margin-bottom: 31px
    .material-component
      background: #607d8b
      +my_horizontal_align()


.material-component
  a
    display: block
    color: #fff
    font:
      size: rem-calc(14)
      weight: 500
    text-transform: uppercase
    padding: 12px 33px
    line-height: 16px
  &.red-button
    background: #f50057
  &.blue-button
    background: #1e88e5
  &.blue-text
    a
      color: #1e88e5

.medium-up-right
  @media #{$medium-up}
    float: right

.reveal-modal
  //&#offers-and-comments
  background: #eceff1
  strong
    color: #4d4d4d
    font:
      size: rem-calc(20)
      weight: 500
    line-height: 24px
    margin-bottom: 11px
    display: block
  p
    color: #666666
    font:
      size: rem-calc(16)
      weight: 400
    line-height: 24px
  form
    .input
      margin-bottom: 40px
    .material-component
      background: transparent
      &.button-wrap
        margin-top: 0
      button, .copy-btn
        color: #1e88e5
  .share-icons
    margin-top: 20px
    margin-bottom: 40px
    a
      display: block
      +default_font_style(#1e88e5, 14, 500, 16.8)
      text-transform: uppercase
      text-align: center
    svg
      height: 48px
      width: 100%
      margin-bottom: 20px
      path
        fill: #1e88e5
  .modal-form
    margin-bottom: 40px
    form
      .input
        margin-bottom: 0
        &.animate-input
          margin-bottom: 20px

.reveal-modal-bg
  background: rgba(35, 31, 32, .8)

.admin-dashboard-page
  margin-top: 80px
  margin-bottom: 185px
  form
    margin-top: 45px
    .input
      margin-bottom: 10px

.one-publication-page
  .one-publication-page-head
    margin-bottom: 40px
    .image
      height: 366px
  .one-publication-page-body
    margin-bottom: 80px
    .one-publication-page-body-inner
      border-bottom: 4px solid #eceff1
    .title
      color: #1c282e
      font:
        size: rem-calc(24)
        weight: 400
      line-height: 28.8px
      text-transform: uppercase
    //p
      color: #263238
      font:
        size: rem-calc(14)
        weight: 400
      line-height: 26px

    .default-field-date
      color: #939598
      font:
        size: rem-calc(14)
        weight: 400
      line-height: 20px
      svg
        path
          fill: #939598
    @media #{$small-only}
      .style-for-small
        margin-bottom: 35px
        .default-field-date
          text-align: center

a.share-button
  color: #607d8b
  font:
    size: rem-calc(16)
    weight: 500
  line-height: 26px
  svg
    width: 18px
    position: relative
    top: 3px
    margin-right: 10px
    path
      fill: #607d8b


