@import "mixins"

.material-component
  /*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
  position: relative
  overflow: hidden
  display: inline-block
  border-radius: 4px

  .ripple
    cursor: pointer /*since the links are dummy without href values*/
    /*prevent text selection*/
    user-select: none
    /*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/



/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink
  display: block
  position: absolute
  background: hsl(180, 40%, 80%)
  border-radius: 100%
  transform: scale(0)

/*animation effect*/
.ink.animate
  animation: ripple 0.65s linear
@keyframes ripple
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  100%
    opacity: 0
    transform: scale(2.5)


ul.v-block-wrap
  margin: 0 !important
  padding-top: 10px
  li
    list-style: none
    float: left
    p
      font:
        size: rem-calc(12)
        family: 'Fira Sans', sans-serif !important
        style: normal !important
        weight: 500
      color: #AFBDC4 !important
      white-space: nowrap
      margin:
        bottom: 0 !important
        top: 0 !important
      padding-top: 0px

      a
        color: inherit
        text-decoration: none
        font-family: inherit
        padding: 0 4px
      a:hover
        color: #AFBDC4
    svg
      width: 48px
      height: 100%
      path
        fill: rgba(175, 189, 196, 1)
  li.vbw-image
    width: 30px
    a
      display: block
      svg
        width: 100%
        path
          fill: #AFBDC4
  li.vbw-image a:hover path
    fill: #AFBDC4
    -webkit-transition: all 1s
    -moz-transition: all 1s
    -o-transition: all 1s
    transition: all 1s

  li.vbw-text
    width: 80%
    padding: 3% 0 0 2%
    p
      letter-spacing: normal !important
      font:
        weight: 200
        size: rem-calc(12)

.no-pad-left
  padding-left: 0

.no-pad-right
  padding-right: 0
.no-pad-right-small
  @media #{$small-only}
    padding-right: 0

input[type=radio].custom-radiobutton
  position: absolute
  z-index: -1000
  left: -1000px
  overflow: hidden
  clip: rect(0 0 0 0)
  height: 1px
  width: 1px
  margin: -1px
  padding: 0
  border: 0

  & + label
    cursor: pointer
    float: left
    &.custom-radiobutton-icon
      display: block
      width: 20px
      height: 20px
      border-radius: 50%
      border: 2px solid #939598
      position: relative

    &.custom-radiobutton-label
      padding-left: 18px
      display: inline-block
      background-repeat: no-repeat
      background-position: 0 0
      vertical-align: middle

      color: #263238
      font:
        size: rem-calc(14)
        weight: 400
      line-height: 21px

  &:checked
    & + label.custom-radiobutton-icon
      border-color: #1e88e5
      &:before
        content: ''
        display: block
        width: 10px
        height: 10px
        background: #1e88e5
        border-radius: 50%
        +my_center_align()
          position: absolute

    & + label.custom-radiobutton-label
      color: red

  //label.css-label
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_cce337a3f8bb55521f55ec55906db31e.png)
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none


$duration: .5s

$size : 100%
$toggled-size : .75

$bg : #449A88
$nav-bg  : #2A2A2A
$content-bg : #656d72

.navicon-button
  display: inline-block
  position: relative
  padding: 1.75rem 1.5rem
  transition: $duration/2
  cursor: pointer
  user-select: none
  /*opacity: .8*/

  .navicon:before, .navicon:after
    transition: $duration/2

  &:hover
    transition: $duration
    opacity: 1

    .navicon:before, .navicon:after
      transition: $duration/2

    .navicon:before
      top: .625rem
    .navicon:after
      top: -.625rem


.navicon
  position: relative
  width: 2em
  height: .25rem
  background: $content-bg
  transition: $duration
  /*border-radius: 2.5rem*/

  &:before, &:after
    display: block
    content: ""
    height: .25rem
    width: 2rem
    background: $content-bg
    position: absolute
    z-index: 1
    transition: $duration $duration/2
  /*border-radius: 1rem*/

  &:before
    top: .5rem
  &:after
    top: -.5rem

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after
  top: 0 !important

.open .navicon:before,
.open .navicon:after
  transition: $duration

.open.larr .navicon
  &:before, &:after
    width: 1.2rem
  &:before
    transform: rotate(45deg)
    transform-origin: left top
  &:after
    transform: rotate(-45deg)
    transform-origin: left bottom


