

.about-us-page
  margin-bottom: 55px
  .bx-wrapper
    position: relative
    margin: 0
    .bx-viewport
    .bx-controls
      .bx-pager
        bottom: 17px
        .bx-pager-item
          a
            background: #eceff1
            width: 12px
            height: 12px
            margin: 0 12px
            &.active
              background: #f50057
  ul
    margin: 0
    list-style: none
    &#about-us-banner
      height: 366px
      li
        height: inherit

  .why-we
    background: #1e88e5
    padding-top: 50px
    padding-bottom: 55px
    .socials
      margin-top: 20px
    img
      display: block
      margin: 0 auto
    h3
      color: #1c282e
      font:
        size: rem-calc(24)
        weight: 400
      line-height: 28.8px
      text-transform: uppercase

    .why-we-block
      svg
        width: 28px
        position: relative
        top: 6px
      b
        color: #263238
        font:
          size: rem-calc(14)
          weight: 500
        line-height: 20px
      p
        color: #eceff1
        font:
          size: rem-calc(14)
          weight: 400
        line-height: 20px

  .about-company
    padding-top: 55px
    padding-bottom: 60px
    blockquote
      width: 100%
      padding-left: 0
      padding-right: 0
      &:before
        left: 0
    h4
      color: #263238
      font:
        size: rem-calc(14)
        weight: 500
      line-height: 20px
    p
      color: #607d8b
      font:
        size: rem-calc(14)
        weight: 400
      line-height: 20px
    .number
      color: #f50057
      font:
        size: rem-calc(112)
        weight: 300
      line-height: 134px
      span
        display: block
        +default_font_style(#263238, 14, 400, 16.8)
        //color: #263238
        //font:
        //  size: rem-calc(14)
        //  weight: 400
        //line-height: 16.8px

  .about-trademark-wrap
    border: 1px solid #eceff1
    padding-top: 16px
    padding-bottom: 16px
    @media #{$medium-up}
      +grid-column(4)
    .about-trademark
      width: 100%
      height: 0
      padding-bottom: 66%
      position: relative
      .about-trademark-info, .about-trademark-avatar
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0

      .about-trademark-info
        .title
          color: #1c282e
          font:
            size: rem-calc(18)
            weight: 400
          line-height: 21.6px
          margin-bottom: 8px
        p
          +default_font_style(#fff, 14, 400, 18)

      .about-trademark-avatar
        background: #fff
        svg
          width: 70%
          +my_center_align()
            position: absolute
    &:hover
      background: #42a5f5
      .about-trademark
        .about-trademark-avatar
          opacity: 0

.basket-wrap
  .cart-tab
    display: none
    &.cart-item-list
    &.active
      display: block

  .basket-header
    margin-top: 20px
    margin-bottom: 30px
  .title
    +default_font_style(#607d8b, 24, 500, 28.8)
    text-transform: uppercase
    svg
      height: 20px
      path
        fill: #607d8b

  ul.basket-navigation
    margin: 0
    list-style: none
    li
      width: 33.333%
      display: inline-block
      overflow: hidden
      float: left
      .bn-icon
        width: 30px
        height: 30px
        +default_font_style(#bcbec0, 18, 500, 27)
        text-align: center
        border: 1px solid #bcbec0
        border-radius: 50%
        margin: 0 auto
        position: relative
        &:before, &:after
          display: block
          content: ''
          height: 1px
          width: 300px
          background: #bcbec0
          position: absolute
          top: 14px
        &:before
          right: 35px
        &:after
          left: 35px

      .bn-label
        +default_font_style(#bcbec0, 12, 400, 21)
        text-align: center
      &.prev-current
        .bn-icon:after
          background: #42a5f5
      &.current
        .bn-icon
          background: #42a5f5
          border-color: #42a5f5
          color: #fff
          &:before
            background: #42a5f5
        .bn-label
          color: #42a5f5

  .basket-list
    border-bottom: 3px solid #eceff1
    margin-bottom: 18px
    .basket-list-one
      border-top: 1px solid #eceff1
      overflow: hidden
      position: relative
      max-height: 150px
      +custom_transition(max-height, 0.3s, cubic-bezier(0, 0, 0.42, 0.99), 0.3s)
      &:before, &:after
        content: ''
        position: absolute
        width: 100%
        background: #fff
        z-index: 1
        height: 70px
        +transition(all, 0.3s, cubic-bezier(0, 0, 0.42, 0.99))
      &:before
        top: -70px
      &:after
        bottom: -70px
      .basket-delete-item-wrap
        height: 0
        padding-bottom: 275%
        position: relative
      a.delete-item
        display: block
        width: 40px
        height: 40px
        padding: 10px
        +my_center_align()
          position: absolute
        svg
          path
            fill: #d1d3d4
      .image
        border: 5px solid #eceff1
        height: 0
        padding-bottom: 100%
        position: relative
        overflow: inherit
        &:after
          display: block
          content: ''
          position: absolute
          border-bottom: 1px solid#fff
          bottom: -6px
          left: -5px
          right: -5px

      .title
        color: #1c282e
        margin-top: 16px
      .brand-title
        +default_font_style(#939598, 12, 400, 21)
        margin-bottom: 10px
      p
        +default_font_style(#607d8b, 16, 500, 20)
        margin-bottom: 0px
        span
          +default_font_style(#939598, 12, 400, 21)
          width: 83px
          display: inline-block
        sup
          font-size: 50%
      .basket-count-product
        margin-top: 15px
        input
          height: 30px
          padding: 0

          +default_font_style(#bcbec0, 16, 500, 30)
          border: none
          border-bottom: 1px solid #bcbec0
          box-shadow: none
          outline: none
          background: transparent
          &:focus
            +default_font_style(#263238, 16, 500, 30)
            border-bottom: 2px solid #1e88e5


      .one-total-price
        +default_font_style(#1e88e5, 30, 500, 48)
        font-family: 'Roboto', sans-serif
        sup
          font-size: 50%
      .one-price
        +default_font_style(#bcbec0, 18, 500, 48)
        font-family: 'Roboto', sans-serif
        position: relative
        top: -25px
        sup
          font-size: 50%
      &:last-child
        .image
          overflow: hidden
      &:hover
        a.delete-item
          svg
            path
              fill: #607d8b
      &.deleting-line-item
        max-height: 10px
        &:before
          top: 0

        &:after
          bottom: 0

  .basket-body
    hr
      margin-top: 0
    .animate-input
      margin-top: 25px
    .animate-textarea
      margin-top: 17px
      textarea
        min-height: 38px
        height: 38px
    h5
      +default_font_style(#607d8b, 12, 400, 14)
      text-transform: uppercase
    p
      +default_font_style(#939598, 14, 400, 21)
      &.notes
        padding-left: 35px
        margin-top: 15px
        margin-bottom: 50px
    .bc-contacts-info
      .bc-ci-one
        min-height: 46px
        margin-bottom: 10px
        border-bottom: 1px solid #eceff1
        .bc-ci-key
          height: 46px
          width: 30%
          float: left
          +default_font_style(#607d8b, 14, 500, 46)
          font-family: 'Roboto', sans-serif
        .bc-ci-value
          height: 46px
          width: 70%
          float: left
          p
            +default_font_style(#1c282e, 12, 500, 46)
            text-transform: uppercase
    .bc-basket-list
      .bc-basket-list-body
        .bc-bl-one
          border-bottom: 1px solid #eceff1
          padding-top: 6px
          padding-bottom: 6px
          .image
            width: 40px
            height: 40px
            border: 1px solid #eceff1
          a
            +default_font_style(#1c282e, 18, 500,  21.6)
            text-transform: uppercase
          p
            margin-bottom: 0
            position: relative
            top: -5px
            +default_font_style(#607d8b, 21, 500, 21)
            sup
              font-size: 60%
              padding-left: 4px
          span
            display: block
            +default_font_style(#607d8b, 12, 400, 14)
          &:last-child
            border: none

      .bc-basket-list-footer
        margin-top: 25px
        margin-bottom: 30px
        .bc-bl-total-price
          height: 63px
          background: #eceff1
          padding-left: 0.9375rem
          padding-right: 0.9375rem
          p
            float: right
            +default_font_style(#1e88e5, 21, 500, 63)
            span
              color: #bcbec0
              font:
                size: rem-calc(18)
                weight: 500
              margin-right: 8px
            b

            sup
              font-size: 60%
              padding-left: 2px

  .basket-footer
    padding-left: 0.9375rem
    padding-right: 0.9375rem
    padding-bottom: 95px
    .basket-total-price
      background: #eceff1
      height: 100px
      margin-bottom: 20px
      padding-top: 28px
      padding-right: 30px
      p
        float: right
        +default_font_style(#1e88e5, 30, 500, 30)
        sub
          +default_font_style(#bcbec0, 18, 500, 30)
          position: relative
          top: -6px

        sup
          +default_font_style(#1e88e5, 30, 400, 30)
          font-size: 60%
    .red-button
      margin-left: 20px


.terms-and-delivery-page
  .td-header
    height: 150px
    background: #1e88e5
    padding: 0 30px
    margin-bottom: 1.25rem
    .title
      +my_center_align()
      +default_font_style(#1c282e, 24, 400, 28.8)
      text-transform: uppercase
  .td-body
    margin-bottom: 60px


.search-result-page
  margin-bottom: 55px
  .td-header
    margin-top: 20px
    margin-bottom: 17px
    .title
      +default_font_style(#607d8b, 24, 400, 28.8)
      text-transform: uppercase
  form
    position: relative
    margin-bottom: 40px
    .input
      height: 50px
      background: #eceff1
      input
        margin: 0
        height: 50px
        padding-left: 53px
        border: none
        outline: none
        box-shadow: none
        +placeholder(rgba(96, 125, 139, .7), 16px, none)
          line-height: 19.2px
          font-family: 'Roboto', sans-serif

    .submit
      position: absolute
      top: 0
      left: 0
      button
        background: transparent
        margin: 0
        padding: 15px
        width: 50px
        height: 50px
        svg
          path
            fill: #607d8b
            opacity: 1

  .about-searching-result
    margin-bottom: 10px
    p
      +default_font_style(#263238, 16, 500, 20)
      margin: 0
      span
        display: block
        +default_font_style(#607d8b, 14, 400, 20)

  .result-list
    .one-result
      background: #42a5f5
      padding-left: 0.9375rem
      padding-right: 0.9375rem
      padding-top: 22px
      padding-bottom: 22px
      margin-bottom: 2px
      a
        +default_font_style(#1c282e, 24, 400, 28.8)
        text-transform: uppercase
      p
        +default_font_style(#fff, 14, 400, 18)
        margin: 0
      &:last-child
        position: relative
        &:after
          content: ''
          position: absolute
          left: 0
          right: 0
          bottom: 0
          height: 100px

.sitemap-page
  ul
    list-style: none
    li
      a
        +default_font_style(#1976d2, 14, 500, 36)
        text-transform: uppercase
      ul
        li
        ul
          li
            a
              +default_font_style(#1976d2, 14, 400, 21)
              text-transform: inherit