

.about-us-page
  margin-bottom: 55px
  .bx-wrapper
    position: relative
    margin: 0
    .bx-viewport
    .bx-controls
      .bx-pager
        bottom: 17px
        .bx-pager-item
          a
            background: #eceff1
            width: 12px
            height: 12px
            margin: 0 12px
            &.active
              background: #f50057
  ul
    margin: 0
    list-style: none
    &#about-us-banner
      height: 366px
      li
        height: inherit

  .why-we
    background: #1e88e5
    padding-top: 50px
    padding-bottom: 55px
    h3
      color: #1c282e
      font:
        size: rem-calc(24)
        weight: 400
      line-height: 28.8px
      text-transform: uppercase

    .why-we-block
      svg
      b
        color: #263238
        font:
          size: rem-calc(14)
          weight: 500
        line-height: 20px
      p
        color: #eceff1
        font:
          size: rem-calc(14)
          weight: 400
        line-height: 20px

  .about-company
    padding-top: 55px
    padding-bottom: 60px
    h4
      color: #263238
      font:
        size: rem-calc(14)
        weight: 500
      line-height: 20px
    p
      color: #607d8b
      font:
        size: rem-calc(14)
        weight: 400
      line-height: 20px
    .number
      color: #f50057
      font:
        size: rem-calc(112)
        weight: 300
      line-height: 134px
      span
        display: block
        +default_font_style(#263238, 14, 400, 16.8)
        //color: #263238
        //font:
        //  size: rem-calc(14)
        //  weight: 400
        //line-height: 16.8px

  .about-trademark-wrap
    border: 1px solid #eceff1
    padding-top: 16px
    padding-bottom: 16px
    @media #{$medium-up}
      +grid-column(4)
    .about-trademark
      width: 100%
      height: 0
      padding-bottom: 66%
      position: relative
      .about-trademark-info, .about-trademark-avatar
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0

      .about-trademark-info
        .title
          color: #1c282e
          font:
            size: rem-calc(18)
            weight: 400
          line-height: 21.6px
          margin-bottom: 8px
        p
          +default_font_style(#fff, 14, 400, 18)

      .about-trademark-avatar
        background: #fff
        svg
          width: 70%
          +my_center_align()
            position: absolute
    &:hover
      background: #42a5f5
      .about-trademark
        .about-trademark-avatar
          opacity: 0
